* {
  text-align: center;
}

.form_container {
  margin: 5rem;
  display: block;
  font-size: 1.2rem;
}

.form_container input{
  margin: 2rem;
  padding: 0.5rem 3rem;
  border-color: blueviolet;
  border-radius: 10px;
}

.form_container button{
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 0.3rem 1.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.form_container button:hover{
  background-color: rgb(101, 35, 163);
}

.result{
  margin: 1rem;
}